
<nav class="navbar navbar-default nav1">
	<div class="container-fluid">
		<div class="navbar-header">
			<h1> Regestration Form</h1>
		</div>
	</div>
</nav>


<div class="container">
	<div class= "row">
		<div class="col-md-6">
			<form class="form-horizontal" name="balanceForm">
			    <div class="form-group">
			      <label class="control-label col-sm-2"> Name: </label>
			      <div class="col-sm-6">
			        <input type="text" ng-model="patient.name"/>
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2"> Mobile: </label>
			      <div class="col-sm-6">
			        <input type="number" ng-model="patient.mobile" />
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2"> DOB : </label>
			      <div class="col-sm-6">
			        <input type="text" placeholder="yyyy-mm-dd" ng-model="patient.dob" />			        
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2"> Blood Group : </label>
			      <div class="col-sm-6">
			        <!-- <input type="text" ng-model="patient.bloodGroup" /> -->
			        <select ng-model="patient.bloodgrp">
			        	<option value = 'A'>A</option>
			        	<option value = 'B'>B</option>
			        	<option value = 'AB+'>AB+</option>
			        	<option value = 'AB-'>AB-</option>
			        	<option value = 'O'>O</option>
			        	<option value = 'O-'>O</option>
			        </select>
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2"> Address : </label>
			      <div class="col-sm-6">
			        <input type="text" ng-model="patient.address" />
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2"> City : </label>
			      <div class="col-sm-6">
			        <input type="text" ng-model="patient.city" />
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-sm-offset-2 col-sm-10">	        
			        <button type="button" ng-click="register()" class="btn btn-default">Register </button>
			      </div>
			    </div>
			</form>
		</div>
		<div class="col-md-6">
			<form class="form-horizontal" name="healthDetailForm">
			    <div class="form-group">
			      <label class="control-label col-sm-3"> Id: </label>
			      <div class="col-sm-6">
			        <input type="text" ng-model="patient.id"/>
			      </div>
			    </div>
			    <div class="form-group" ng-if='patient.name1'>
			      <label class="control-label col-sm-3"> Name: </label>			{{patient.name1}}      
			    </div>
			    <div class="form-group" ng-if='patient.dob1'>
			      <label class="control-label col-sm-3"> DOB: </label>			 {{patient.dob1}}     
			    </div>
			    <div class="form-group" ng-if='patient.mobileNo1'>
			      <label class="control-label col-sm-3">Mobile No: </label>		{{patient.mobileNo1}}	      
			    </div>
			    <div class="form-group" ng-if='patient.bloodGroup1'>
			      <label class="control-label col-sm-3">Blood group: </label>	{{patient.bloodGroup1}}	      
			    </div>
			    <div class="form-group" ng-if='patient.address1'>
			      <label class="control-label col-sm-3">Address: </label>		 {{patient.address1}}     
			    </div>
			    <div class="form-group">
			      <div class="col-sm-offset-2 col-sm-10">	        
			        <button type="button" ng-click='getPatientDetails(patient.id)' class="btn btn-default">Submit </button>
			      </div>
			    </div>
			</form>
		</div>
		<input type="" name="" ng-model='index'>
		<button ng-click='getFirstPatietAddress(index)'> Get</button>
		{{paddr}}
	</div>
	<div class="row">
		<input type="" name="" ng-model='txHash'>
		<button ng-click='getTransactionReceipt(txHash)'> Get Tx Reciept</button> 
		<div ng-if="transaction.txhash">
			<p>
				<label>Transaction Hash: </label>{{transaction.txhash}}
			</p>
			<p>
				<label> Transaction Index: </label>{{transaction.txIndex}}
			<p>
				<label>BlockHash: </label>{{transaction.blockHash}}
			</p>
			<p>
				<label>Gas Used: </label>{{transaction.gasUsed}}
			</p>
			<p>
				<label>Cumulative Gas Used: </label>{{transaction.cumulativeGasUsed}}
			</p>						
		</div>
	</div>
	<div class="row">
		<button style="padding left:10px" ng-click='startLogging()'>Start Logging</button>
		<button style="padding left:10px" ng-click='stopLogging()'>Stop Logging</button>
	</div>	
</div> <!-- container ends here -->


    

    
    

