
<nav class="navbar navbar-default nav1">
	<div class="container-fluid">
		<div class="navbar-header">
			<h1> Regestration Form</h1>
		</div>
	</div>
</nav>


<div class="container">
	<div class= "row">
		<div class="col-md-6">
			<form class="form-horizontal" name="balanceForm">
			    <div class="form-group">
			      <label class="control-label col-sm-2"> Name: </label>
			      <div class="col-sm-6">
			        <input type="text" ng-model="patient.name"/>
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2"> Mobile: </label>
			      <div class="col-sm-6">
			        <input type="number" ng-model="patient.mobile" />
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2"> DOB : </label>
			      <div class="col-sm-6">
			        <input type="text" placeholder="yyyy-mm-dd" ng-model="patient.dob" />			        
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2"> Blood Group : </label>
			      <div class="col-sm-6">
			        <!-- <input type="text" ng-model="patient.bloodGroup" /> -->
			        <select ng-model="patient.bloodgrp">
			        	<option value = 'A'>A</option>
			        	<option value = 'B'>B</option>
			        	<option value = 'AB+'>AB+</option>
			        	<option value = 'AB-'>AB-</option>
			        	<option value = 'O'>O</option>
			        	<option value = 'O-'>O</option>
			        </select>
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2"> Address : </label>
			      <div class="col-sm-6">
			        <input type="text" ng-model="patient.address" />
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2"> City : </label>
			      <div class="col-sm-6">
			        <input type="text" ng-model="patient.city" />
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-sm-offset-2 col-sm-10">	        
			        <button type="button" ng-click="register()" class="btn btn-default">Register </button>
			      </div>
			    </div>
			</form>
		</div>
		<div class="col-md-6">
			<form class="form-horizontal" name="healthDetailForm">
			    <div class="form-group">
			      <label class="control-label col-sm-3"> Id: </label>
			      <div class="col-sm-6">
			        <input type="text" ng-model="patient.id"/>
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-3"> Blood Pressure: </label>
			      <div class="col-sm-6">
			        <input type="text" ng-model="patient.bp"/>
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-3"> Weight: </label>
			      <div class="col-sm-6">
			        <input type="number" ng-model="patient.weight"/>
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-3">Height (in cms): </label>
			      <div class="col-sm-6">
			        <input type="text" ng-model="patient.height"/>
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-sm-offset-2 col-sm-10">	        
			        <button type="submit" class="btn btn-default">Submit </button>
			      </div>
			    </div>
			</form>
		</div>
	</div>
</div> <!-- container ends here -->


    

    
    

